<div class="container-fluid">
    <form [formGroup]="clientRef" (ngSubmit)="storeClientDetails()">
        <label>ClientName</label>
        <input type="text" formControlName="clientName"/><br/>
        <label>ClientDescription</label>
        <input type="text" formControlName="clientDescription"/><br/>
        <label>ClientImageUrl</label>
        <input type="url" formControlName="clientImageUr"/><br/>
        <input type="submit" value="Client Store" class="btn btn-success"/>
        <input type="reset" value="reset" class="btn btn-info"/>

    </form>


    <table class="table">
        <tr>
            <th>CID</th>
            <th>ClientName</th>
            <th>ClientDescription</th>
            <th>ClientImageUrl</th>
            <th>Delete Client</th>
            <th>Update Client</th>
        </tr>
        <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.clientName}}</td>
            <td>{{client.clientDescription}}</td>
            <td>{{client.clientImageUrl}}</td>
            <td><img src="{{clients.clientImageUrl}}" width="150"></td>
            <td><input type="button" value="Delete" (click)="deleteClient(client.id)"></td>
            <td><input type="button" value="Update" (click)="updateClient"(clients)/></td>
    </table>
</div>